<div>
	<div class="termarea" style="height:30px;">
		<div class="term">
			<div style="float:left; padding:2px;">
				<div class='kaka-list-hitatc'></div>
			</div>
			<div style="float:left; padding:2px;">
				<div class='kaka-datepicker'></div>
			</div>
			<div style="float:left; padding:2px;">
				<div class='kaka-list-localdpt'></div>
			</div>
			<div style="float:left; padding:2px;">
				<div class='kaka-list-crtordpt'></div>
			</div>
			<div style="float:left; padding:2px; position: relative; top: 2px;">
				<div class='kaka-chk-aprvyn'>
					<span>승인</span>
				</div>
			</div>
			<div style="float:left; padding:2px;">
				<input type="text" class='kaka-text-srchcrtor'/>
			</div>
			<div style="float:left; padding:2px;">
				<input type="text" class='kaka-text-title'/>
			</div>
			<div style="float:left; padding:2px; position: relative; top: 2px;">
				<div class='kaka-chk-embagoyn'>
					<span>엠바고만</span>
				</div>
			</div>
		</div>
		<div style="float:right">
			<input class='kaka-btn-search' type="button" value="조회" />
			<input class='kaka-btn-detail' type="button" value="상세" />
			<input class='kaka-btn-colset' type="button" value="컬럼설정" />
			<input class='kaka-btn-excelprt' type="button" value="엑셀" />
		</div>
	</div>

	<div class='kaka-grid'></div>

	<div class='kaka-menu'>
		<ul>
			<li>Edit Selected Row</li>
			<li>Delete Selected Row</li>
		</ul>
	</div>

</div>